.gitProfile{
    overflow: scroll;
    color: rgb(166, 166, 166);
    height: 100%;
    padding: 0.75rem;
    font-family: 'system-ui', sans-serif;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 15rem;

    .gitCard{
        max-width: 20rem;
        min-width: 15rem;
        height: 430px;
        padding-inline: 1rem;
        padding-block: 1rem;
        background-color: rgb(56, 56, 56);
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        img{
            width: 100%;
            height: auto;
            border-radius: 0.5rem;
        }

        h3{
            font-size: 20px;
            font-weight: 500;
            white-space: nowrap;
        }

        p{
            font-size: 14px;
            opacity: 0.8;
            word-spacing: 0.1rem;
            line-height: 1.5rem;
        }

        .tags{
            display: flex;
            gap: 0.5rem;
            flex-wrap: wrap;

            .tag{
                width: fit-content;
                height: fit-content;
                background-color: rgb(72, 78, 72);
                padding-inline: 0.5rem;
                padding-block: 0.2rem;
                border-radius: 0.3rem;
                font-size: 15px;
                font-weight: 500;
            }
        }

        .links{
            display:flex;
            align-items: center;
            justify-content: space-between;
            color:whitesmoke
        }
    }
}