.doc-icons{
    background-color: rgba(110, 110, 110, 0.347);
    display: flex;
    padding-inline: 0.5rem;
    padding-block: 0.5rem;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    gap:0.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    backdrop-filter: blur(5px);

    .icons{
        display: flex;
        width: 3rem;
        height: 3rem;
        padding-inline: 1rem;
        padding-block: 1rem;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        aspect-ratio: 1/1;
        transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .icons:hover{
        transform: scale(1.4) translateY(-25%);

    }

    .icons:hover + .icons,
    .icons:has(+ .icons:hover){
        transform: scale(1.1) translateY(-10%);
    }

    .calender, .mail{
        background:linear-gradient(to bottom,rgb(86, 86, 252),rgb(40, 40, 253));
    }

    .cli, .github{
        background-color: black;
    }

    .link{
        background: linear-gradient(to bottom,rgb(249, 112, 249),rgb(248, 72, 248));
    }

    .note{
        background: linear-gradient(to bottom,rgb(254, 199, 97),rgb(254, 182, 49));
    }

    .pdf{
        background: linear-gradient(to bottom,rgb(255, 75, 117),rgb(254, 32, 84));
    }

    .spotify{
        background: linear-gradient(to bottom,rgb(113, 252, 63),rgb(99, 251, 43));
    }
}