.navbar{
    width: 100%;
    background-color: rgba(110, 110, 110, 0.347);
    backdrop-filter: blur(5px);
    display: flex;
    padding-inline: 0.3rem;
    padding-block: 0.1rem;
    justify-content: space-between;
    .left{
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        .nav-elem{
            color: whitesmoke;
            font-size: 12px;
        }
    }
    .right{
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        .nav-elem{
            color: whitesmoke;
            font-size: 12px;
        }
    }
}